.view {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: stretch;
  flex-basis: auto;
  border-style: solid;
  box-sizing: border-box;
  position: relative;
  outline: none;
}
