[data-theme="dark"] {
  @nested-import "prismjs/themes/prism-tomorrow.css";

  --shadow-1: 0px 4px 8px 0px rgba(2, 2, 3, 0.16);
  --shadow-2: 0px 8px 16px 0px rgba(2, 2, 3, 0.32);
  --shadow-3: 0px 16px 32px 0px rgba(2, 2, 3, 0.48);

  --background-root: #0e1525;
  --background-default: #1c2333;
  --background-higher: #2b3245;
  --background-highest: #3c445c;
  --background-overlay: #0e1525a0;
  --foreground-default: #f5f9fc;
  --foreground-dimmer: #c2c8cc;
  --foreground-dimmest: #9da2a6;
  --outline-dimmest: #2b3245;
  --outline-dimmer: #3c445c;
  --outline-default: #4e5569;
  --outline-stronger: #5f677a;
  --outline-strongest: #70788c;
  --red-dimmest: #660000;
  --red-dimmer: #a60808;
  --red-default: #e52222;
  --red-stronger: #ff6666;
  --red-strongest: #ffcfcf;
  --orange-dimmest: #542a00;
  --orange-dimmer: #703800;
  --orange-default: #ad5700;
  --orange-stronger: #d4781c;
  --orange-strongest: #ffbd7a;
  --yellow-dimmest: #4d4000;
  --yellow-dimmer: #635300;
  --yellow-default: #967d00;
  --yellow-stronger: #bfa730;
  --yellow-strongest: #f2e088;
  --lime-dimmest: #314a00;
  --lime-dimmer: #3d5c00;
  --lime-default: #5a8700;
  --lime-stronger: #87b825;
  --lime-strongest: #c4e581;
  --green-dimmest: #044a10;
  --green-dimmer: #046113;
  --green-default: #009118;
  --green-stronger: #6cd97e;
  --green-strongest: #7aeb8d;
  --teal-dimmest: #004452;
  --teal-dimmer: #006073;
  --teal-default: #0093b0;
  --teal-stronger: #27b9d6;
  --teal-strongest: #69d9f0;
  --blue-dimmest: #004182;
  --blue-dimmer: #0053a6;
  --blue-default: #0079f2;
  --blue-stronger: #57abff;
  --blue-strongest: #b2d9ff;
  --blurple-dimmest: #39298a;
  --blurple-dimmer: #5239cc;
  --blurple-default: #795eff;
  --blurple-stronger: #a694ff;
  --blurple-strongest: #cec4ff;
  --purple-dimmest: #582987;
  --purple-dimmer: #7633b8;
  --purple-default: #a64dff;
  --purple-stronger: #c78fff;
  --purple-strongest: #e2c4ff;
  --magenta-dimmest: #6b1a6b;
  --magenta-dimmer: #8a218a;
  --magenta-default: #c73ac7;
  --magenta-stronger: #f562f5;
  --magenta-strongest: #ffbfff;
  --pink-dimmest: #6e1b52;
  --pink-dimmer: #8f226b;
  --pink-default: #d4359f;
  --pink-stronger: #ff70cf;
  --pink-strongest: #ffbae8;
  --grey-dimmest: #404040;
  --grey-dimmer: #545454;
  --grey-default: #808080;
  --grey-stronger: #a6a6a6;
  --grey-strongest: #d4d4d4;
  --brown-dimmest: #594031;
  --brown-dimmer: #75503b;
  --brown-default: #a3765c;
  --brown-stronger: #d49877;
  --brown-strongest: #ffc8a8;
}
