[data-theme="light"] {
  @nested-import "prismjs/themes/prism.css";

  --shadow-1: 0px 4px 8px 0px rgba(2, 2, 3, 0.1);
  --shadow-2: 0px 8px 16px 0px rgba(2, 2, 3, 0.15);
  --shadow-3: 0px 16px 32px 0px rgba(2, 2, 3, 0.2);

  --background-root: #ebeced;
  --background-default: #fcfcfc;
  --background-higher: #f0f1f2;
  --background-highest: #e4e5e6;
  --background-overlay: #f0f1f2a0;
  --foreground-default: #07080a;
  --foreground-dimmer: #3d4047;
  --foreground-dimmest: #5c5f66;
  --outline-dimmest: #d2d4d6;
  --outline-dimmer: #c0c3c4;
  --outline-default: #afb1b3;
  --outline-stronger: #98999c;
  --outline-strongest: #74767a;
  --red-dimmest: #ffc7c7;
  --red-dimmer: #ff9494;
  --red-default: #fa4b4b;
  --red-stronger: #c20a0a;
  --red-strongest: #8a0000;
  --orange-dimmest: #ffcc99;
  --orange-dimmer: #ff9933;
  --orange-default: #d96d00;
  --orange-stronger: #964b00;
  --orange-strongest: #693400;
  --yellow-dimmest: #ebd66e;
  --yellow-dimmer: #cfb015;
  --yellow-default: #a68a00;
  --yellow-stronger: #736000;
  --yellow-strongest: #4f4200;
  --lime-dimmest: #c0e378;
  --lime-dimmer: #93c926;
  --lime-default: #639400;
  --lime-stronger: #466900;
  --lime-strongest: #3a5700;
  --green-dimmest: #7aeb8d;
  --green-dimmer: #3cc954;
  --green-default: #00a11b;
  --green-stronger: #036e15;
  --green-strongest: #004d0d;
  --teal-dimmest: #6fe5fc;
  --teal-dimmer: #22c1e0;
  --teal-default: #0093b0;
  --teal-stronger: #00687d;
  --teal-strongest: #004857;
  --blue-dimmest: #b2d9ff;
  --blue-dimmer: #6bb5ff;
  --blue-default: #0f87ff;
  --blue-stronger: #005cb8;
  --blue-strongest: #004182;
  --blurple-dimmest: #d7cfff;
  --blurple-dimmer: #b2a3ff;
  --blurple-default: #8e78ff;
  --blurple-stronger: #5b40e3;
  --blurple-strongest: #412f9c;
  --purple-dimmest: #e6ccff;
  --purple-dimmer: #d0a1ff;
  --purple-default: #b266ff;
  --purple-stronger: #7f38c7;
  --purple-strongest: #5b278f;
  --magenta-dimmest: #ffbfff;
  --magenta-dimmer: #ff82ff;
  --magenta-default: #eb3beb;
  --magenta-stronger: #a321a3;
  --magenta-strongest: #731c73;
  --pink-dimmest: #ffc7ec;
  --pink-dimmer: #ff87d7;
  --pink-default: #f545ba;
  --pink-stronger: #ab2980;
  --pink-strongest: #781e5a;
  --grey-dimmest: #d5d5d5;
  --grey-dimmer: #b0b0b0;
  --grey-default: #898989;
  --grey-stronger: #616161;
  --grey-strongest: #454545;
  --brown-dimmest: #ffc9ab;
  --brown-dimmer: #dea483;
  --brown-default: #b07f63;
  --brown-stronger: #805740;
  --brown-strongest: #573e30;
}
