.icon {
  --icon-size: var(--space-16);

  vertical-align: middle;
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
  min-height: var(--icon-size);
  font-size: var(--icon-size);
}

/* Maximize performance by declaring styles instead of inline styles */

.icon_space_6 {
  --icon-size: var(--space-6);
}

.icon_space_8 {
  --icon-size: var(--space-8);
}

.icon_space_12 {
  --icon-size: var(--space-12);
}

.icon_space_16 {
  --icon-size: var(--space-16);
}

.icon_space_20 {
  --icon-size: var(--space-20);
}

.icon_space_24 {
  --icon-size: var(--space-24);
}

.icon_space_32 {
  --icon-size: var(--space-32);
}

.icon_space_48 {
  --icon-size: var(--space-48);
}

.icon_space_96 {
  --icon-size: var(--space-96);
}
